.admin-products {
    padding: 2rem;
  
    .title {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  
    .success-msg {
      text-align: center;
      margin-bottom: 1rem;
      padding: 0.75rem;
      background-color: #d1fae5;
      color: #065f46;
      border-radius: 8px;
      font-weight: 500;
    }

    .action-buttons {
        display: flex;
        gap: 0.5rem;
      
        .delete-btn {
          background-color: #ef4444;
      
          &:hover {
            background-color: #dc2626;
          }
        }
      }
      
  
    table {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      border-collapse: collapse;
      background: white;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  
      th, td {
        padding: 1rem;
        text-align: left;
        border-bottom: 1px solid #eee;
      }
  
      th {
        background-color: #f3f4f6;
      }
  
      input {
        width: 100%;
        padding: 0.4rem 0.6rem;
        font-size: 0.95rem;
        border-radius: 6px;
        border: 1px solid #ccc;
      }
  
      button {
        padding: 0.4rem 1rem;
        background-color: #1e1e1e;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
  
        &:hover {
          background-color: #333;
        }
      }
    }
  }
  